<div class="main-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Welcome to myFlix!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>Your favorite movies are here. Explore now!</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      (click)="openUserLoginDialog()"
    >
      Login
    </button>
    </mat-card-actions>
  </mat-card>
  </div>