<mat-toolbar class="nav-bar">
    <span class="top-nav"></span>
    <div>
        <button
            mat-button
            (click)="openAllMovies()"
        >
            All Movies
        </button>
        <button
            mat-button
            (click)="openUserProfile()"
        >
            Profile
        </button>
        <button
            mat-button
            (click)="openFavorites()"
        >
            Favorites
        </button>
        <button
            mat-button
            (click)="logOut()"
        >
            Log Out
        </button>
    </div>
</mat-toolbar>