.mat-card {
    background-color: #def2f1d3;
}

.mat-card-header {
    display: flex;
    justify-content: center;
}

.mat-card-subtitle {
    text-align: center;
}

.movie-img-wrapper {
    display: flex;
    justify-content: center;
}

.movie-img {
    width: 24em;
    height: 30em;
}